<h1>HERE IS THE ASTAFF DIRECTORY</h1>
<div>
<% results.forEach(row => { %>
    <P>NAME : <%= q=row.name %> </P>
    <P>DEPARTMENT: <%= q=row.department %></P>
    <hr>
  <% }) %>
  </div>
  <form action="/" method="GET">
    <button type="submit">Go Home</button>
  </form>
