<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <%- include('../partials/head'); %>
    </head>
</head>
<body class="container">
    <header><%- include('../partials/header'); %></header>
    <main>
        <div class="container2">
        <div class="column left-column">
            <h2>Left Column</h2>
            <p>This is the left column where you can add text or images.</p>
            <img src="../assets/images/wt.jpg" width="100%" />
        </div>
        <div class="column right-column">
            <h2>Right Column</h2>
            <p>This is the right column for additional content.</p>
            <img src="../assets/images/about.png" width="100%" />
        </div>
        </div>
</main>
    <footer><%- include('../partials/footer'); %></footer>
</body>
</html>