<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head'); %>
    </head>

<body class="container">
        <header><%- include('partials/header'); %></header>
        <main class="container2">
This is the STAFF HOme Page
        </main>
        <footer><%- include('partials/footer'); %></footer> 
</body>
</html>
