<nav class="navbar">
    <a href="/"> <img class="logo" src="assets/images/logo.png" alt="WT431 Logo"/></a>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li><a href="/live">Live Sessions</a></li>
      <li><a href="/staff">Staff</a></li>
      <li><a href="/courses">Courses</a></li>
      <li><a href="/faqs">FAQs</a></li>
      <li><a class="nav-link" href="/contact">Contact US</a></li>
    </ul>

        
</nav>
    

  