<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>

      <p>Welcome to the about page templating using EJS</p>
    
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>